.page-container {
  height: 100%;
  min-height: 100vh;
  background-color: #343a40 !important;
}


.promotion-card {
  background: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

.promotion-logo {
  /* max-width: 250px; */
}

.white-text {
  color: white;
}
